/*font-family: 'Inconsolata', monospace; colores: #FFC107(amarillo), #ECEBEB (gris); */

/*formato del body y sus elementos*/
body {/*formato general del body*/
	font-family: 'Inconsolata', monospace; /*tipo de fuente*/
	font-family: 'Roboto', sans-serif; /*tipo de fuente alternativa*/
	margin: 0; /*para que ninguno de sus elementos tenga margen*/
	padding: 0; /*para que ninguno de sus elementos tenga padding*/
}

/*formato del header y sus elementos*/
header { /*formato general del header*/
	
}

header .laboratoria-logo { /*formato del logo de laboratoria*/
	width: 15%; /*ancho del logo*/
	padding-left: 40%;/*padding izquierdo para centrarlo*/
}

/*formato del menu lateral*/
body .menu-lateral { /*formato general del menú lateral*/
	display: inline-block; /*para que se comporte como bloque en línea*/
	width: 20%; /*ancho*/
	background-color: #FFC107; /*color de fondo*/
}

.menu-lateral .fa { /*formato general de los íconos*/
	font-size: 1.25rem; /*tamaño de fuente*/
	color: #000000;
}

.menu-lateral span { /*formato general de los span*/
	padding-left: 1rem; /*relleno desde la izquierda*/
	padding-right: 0.5rem;
	line-height: 1rem; /*interlineado*/
	font-size: 1rem; /*tamaño de fuente*/
	color: #000000; /*color negro*/
}

.menu-lateral .menu { /*formato general de los elementos i y a*/
	display: block; /*para que aparezcan como bloque*/
	padding: 1rem; /*relleno*/
}

.menu-lateral .fa-user-circle-o { /*formato para el símbolo del usuario*/
	text-align: center; /*para que el texto aparezca centrado*/
	font-size: 2rem; /*tamaño de fuente*/
	padding: 1.5rem; /*para darle relleno*/
}

.menu-lateral .fa-user-circle-o span { /*formato del nombre de usuario*/
	font-size: 1.5rem; /*tamaño de fuente*/
}

.menu-lateral .fa-envelope {/*formato detallado del correo*/
	padding-top: 0; /*sin relleno superior*/
	padding-bottom: 1rem; /*sin relleno inferior*/
}

.menu-lateral .fa-envelope span { /*formato detallado del elemento span del correo*/
	text-align: center;	/*centrado*/
}

/*formato de las listas para menús desplegables*/

.menu-lateral .list-settings { /*formato general de la lista de settings*/
	padding-left: 0; /*relleno izquierda*/
}

.menu-lateral .list-settings { /*formato general de la lista list */
	background-color: #FFC107;
	position: absolute;
	top: 11rem;	
	left: 15rem;
}

.menu-lateral .list-dashboard { /*formato general de la lista de dashboard*/
	padding-left: 0; /*relleno izquierda*/
	margin-top: 0; /*sin margen superior*/
	position: absolute;
	background-color: #FFC107;
	left: 15.7rem;
	top: 18.5rem;
}



/*formato del nav*/

nav { /*header del video*/
	background-color: #ECEBEB; /*color del fondo del nav*/
	width: 79.65%; /*ancho*/
	margin: auto; /*margen automático*/
	padding: 0;
	float: right; /*que flote hacia la derecha para que quede pegado arriba*/
}

nav ul,li { /*para darle formato a los ul y li del nav*/
	list-style: none; /*para quitar los puntitos de las listas*/
}

nav ul { /*para darle formato a los ul padres de las listas*/
	padding-left: 0; /*para que los elementos de las listas queden con relleno cero*/
	background-color: #ECEBEB; /*color de fondo*/
	margin-top: 0; /*margen desde arriba*/
}


.nav-ul-cities .cities a { /*para darle formato a los elementos a de la lista de sedes*/ 
	text-decoration: none; /*sin decoración*/
	padding: 0.8rem 1rem; /*relleno*/
	color: #000000;
	margin-left: 4rem; /*margen desde la izquierda*/
	margin-right: 4rem; /*margen desde la derecha*/
	display: block; /*que se comporten como bloque*/
}

.nav-ul-cities .generation li a { /*para darle formato a los elementos a de la lista de generaciones*/ 
	text-decoration: none; /*sin decoración*/
	padding: 0.8rem 1rem; /*relleno*/
	display: block; /*que se comporten como bloque*/
}

nav li { /*para darle formato a todos los elementos de las listas*/
	display: inline-block; /*que se comporten como bloque en línea*/
}

nav .nav-ul-cities { /*para darle formato a la lista de las sedes*/
	position: absolute; /*posición absoluta*/
}

nav ul ul { /*para darle formato de los ul de las sublistas*/
	top: 2.79rem; /*separación entre la sede y las generaciones*/
	position: absolute; /*posición absoluta*/
}

nav .generation li { /*para darle formato a los elementos de las listas de las generación */
	display: block; /*que se comporten como bloque*/
}

nav .aqp { /*para darle posición a la generación de arequipa*/
	left: 0.35rem; /*desde la izquierda*/
}

nav .lim { /*para darle posición a la generación de lima*/
	left: 14.5rem; /*desde la izquierda*/
}

nav .mex { /*para darle posición a la generación de mexico*/
	left: 29rem; /*desde la izquierda*/
}

nav .scl { /*para darle posición a la generación de santiago*/
	left: 45.5rem; /*desde la izquierda*/
}

nav li:hover {/*para que tenga un efecto cuando pose el mouse encima*/
	background-color: #BDBDBD;
}

.hide { /*todos los elementos con clase hide*/
	display: none; /*para que no se vean*/
}

.show { /*todos los elementos con clase show*/
	display: block; /*para que se muestren como bloque*/
}